body {
    background-image: url("./assets/img/bg-img-med.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
    width:100vw;
    height: 100vh;
}



#section_table {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:2%;
}

#section_letter_colors {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:3%;
    padding-bottom:9%;
}

#container_color_words {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

table {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3vh;
    color:black;
}

td {
    width: 10vw;
    height:11vh;
    text-align: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 7vh;
    color:black;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 4vh;
    margin:1%;
}

.cell_bg_green {
    background-color: green;
}

.cell_bg_black {
    background-color: black;
}
.cell_bg_teal {
    background-color: teal;
}
.cell_bg_blue {
    background-color: blue;
}
.cell_bg_navy {
    background-color: navy;
}
.cell_bg_lime {
    background-color: lime;
}
.cell_bg_white {
    background-color: white;
}
.cell_bg_purple {
    background-color: purple;
}
.cell_bg_yellow {
    background-color: yellow;
}
.cell_bg_olive {
    background-color: olive;
}
.cell_bg_red {
    background-color: red;
}
.cell_bg_gray {
    background-color: gray;
}
.cell_bg_fuchsia {
    background-color: fuchsia;
}

.letter_color_black {
    color:black;
}

.letter_color_teal {
    color:teal;
}

.letter_color_blue {
    color:blue;
}

.letter_color_navy {
    color:navy;
}

.letter_color_lime {
    color:lime;
}

.letter_color_white {
    color:white;
}

.letter_color_purple {
    color:purple;
}

.letter_color_yellow {
    color:yellow;
}

.letter_color_olive {
    color:olive;
}

.letter_color_red {
    color:red;
}

.letter_color_marron {
    color:maroon;
}

.letter_color_gray {
    color:gray;
}

.letter_color_fuchsia {
    color:fuchsia;
}

.letter_color_green {
    color:green;
}

.letter_color_aqua {
    color:aqua;
}

.letter_color_silver {
    color:silver;
}



